
.avatar {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}
.avatar:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.avatar{
  transition: transform 500ms ease-in-out 25ms ;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  
}

.columnd img {
  margin-top: 12px;
  border-radius: 15px;
  
}
.column img {
  margin-top: 12px;
  border-radius: 15px;
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.scroll-text{
  overflow-y: auto;
  height: 1000px;
  overflow-x: hidden;
  background-color: #fff;
  text-align: left;
  padding: 3px;
  box-sizing: border-box;
  font-family: 'MyriadPro-Regular';
}